/* remove naviagtion bar and set a fixed arrow that brings user to the top */
#top {
	height: 50px;
	width: 50px;
	background-color: cyan;
	border: 1px solid white;
	border-radius: 10px;
	opacity: 0.5;
	position: fixed;
	right: 0%;
	bottom: 0%;
}

#top a {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	color: white;
}

/* redesign the menu */
#menu {
	background-color: #333;
	width: 100%;
}

#menu a {
	color: white;
	display: block;
	padding: 0px 5px;
	text-align: center;
	text-decoration: none;
	border: 1px solid gray;
}

/* same image size */
.profile {
	width: 100px;
	height: 100px;
	background-size: cover;
}