label {
	font-weight: bold;
}

body {
	background-image: url("local_files/paper-background.png");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

#form-style {
	background-color: #fff9d4;
	border: 5px solid black;
	padding: 20px;
}

.priority-title {
	font-weight: bold;
	padding-left: 5px;
	margin-top: 5px;
	border: black 1px solid;
}

.priority-title button {
	float: right;
}

.list-dropdown {
	background-color: #fff9eb;
	border: black 1px solid;
}

.list-desc {
	background-color: white;
	margin: 0px 5px 5px 5px;
	border: black 1px dashed;
}